.ordersMainContainer {
  display: flex;
  height: 100%;
  width: 100%;
  position: relative;
  overflow-y: auto;
}
.ordersContainer {
  padding: 0.5em 0em 1em 1em;
  display: flex;
  flex-direction: column;
  width: calc(100% - 24.5em) !important;
}
.chartsContainer {
  min-width: 23.5em;
  max-width: 23.5em;
  padding: 0.5em 0.5em 1em 0.5em;
  margin-right: 1em;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  overflow-y: auto;
  position: fixed;
  right: 0;
  height: 95%;
}
.ordersControls {
  display: flex;
  align-items: center;
  padding-bottom: 0.5em;
}
.switchContainer {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  margin-right: 0.5em;
}
.filterButton {
  margin-left: auto !important;
  margin-right: 1em !important;
  text-transform: capitalize !important;
}
.switchContainer > span {
  font-size: 0.8em;
}
.inner {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.switchContainer > .inner > span {
  font-size: 0.8em;
}
.inner {
  height: 1.5em;
}
.order-container-outter {
  background-color: white;
  margin-bottom: 1.5em;
  /* border-radius: 3px; */
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
}
.order-container-inner {
  position: relative;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  padding: 1em 0em 1em 2em;
}
.primary-data-container {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  width: 20%;
  min-width: 200px;
  margin-right: 1em;
}
.projName-label {
  text-transform: capitalize;
  font-weight: bold;
  font-size: 1.8em;
  /* padding-left: 1em; */
}
.gon-inner-label {
  font-size: 1em !important;
  color: grey;
  margin-right: 3%;
}
.gon-label {
  /* padding-left: 1em; */
  color: #3a97d1;
  font-weight: bold;
  font-weight: 1.3em;
  font-size: 1.4em !important;
}
.status-label {
  padding: 0.5em 1.5em;
  font-weight: bold;
  font-size: 0.8em;
  text-transform: capitalize;
  background-color: #f5f8fb;
  border-radius: 20px;
  text-align: center;
  width: auto !important;
  white-space: nowrap;
}
.fw-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-right: 2em;
}

.desc {
  font-size: 0.7em;
  font-weight: bold;
  color: gray;
  white-space: nowrap;
}
.date {
  white-space: nowrap;
}
.fw-label {
  font-weight: bold;
  font-size: 1.5em;
}
.dates-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0 3em 0 0;
}
.extra-info-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.caption-container {
  display: flex;
  align-items: center;
  margin-left: 3em;
}
.progress {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  justify-self: end;
  margin-left: auto;
  margin-right: 1em;
}
.controls {
  padding: 0 !important;
  align-self: stretch;
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  margin-right: 0.5em;
}
.ReactCollapse--collapse {
  transition: height 100ms;
  margin-top: 0em !important;
  padding: 0em 6px;
}
.seccond-desc-container {
  flex-grow: 1;
}
.order-trace {
  align-self: start;
  min-height: 100%;
  min-width: 13em;
}
.ReactCollapse--content {
  /* border: 1px solid #e2e2e2; */
  border-top: none;
  padding: 1.5em 3% 1.5em 3%;
  /* border-bottom-right-radius: 10px;
  border-bottom-left-radius: 10px; */
  display: flex;
  justify-content: space-between;
  /* justify-content: space-around; */
  align-items: stretch;
  border-top: 3px solid #e2e2e2;
}
.ant-descriptions {
  flex-grow: 1;
}
.ant-descriptions-item-content
  > .ReactCollapse--collapse
  > .ReactCollapse--content {
  border: none;
}
.order-description {
  align-self: center;
  margin-right: 2em;
  display: flex;
  flex-grow: 1;
}
.coninf-collapse {
  border: none !important;
}
.large-coninf-retro {
  position: relative;
}
.retro-style {
  position: absolute;
  width: 100%;
  height: 100%;
  background: rgb(255, 255, 255);
  background: linear-gradient(
    180deg,
    rgba(255, 255, 255, 0.1516981792717087) 0%,
    rgba(255, 255, 255, 1) 100%
  );
}
.devices-container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin-bottom: 0;
}
.secondary-info-container {
  width: auto;
  padding: 1em 0em 0em 0em;
  height: 100%;
  background-color: white;
  border-radius: 3px;
  display: flex;
  flex-direction: column;
  /* box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24); */
}
.secondary-info-container:last-child {
  align-self: flex-start;
}
.secondary-info {
  display: flex;
  flex-direction: column;
  margin-bottom: 1em;
}
.si-label {
  font-weight: bold;
  font-size: 0.7em;
  color: rgb(109, 109, 109);
  /* border-bottom: 1px solid #e2e2e2; */
  width: auto !important;
  margin-bottom: 5px;
  white-space: nowrap;
}
.si-content {
  font-weight: bold;
  font-size: 1.2em;
}
.coninf-content {
  white-space: pre-wrap;
  padding-top: 0.5em;
}
.caption-desc {
  font-weight: bold;
}
.devices-n-carts-container {
  width: auto;
  display: flex;
}
.device-count-table-container {
  /* border: 1px solid #d2d2d2; */
  padding: 1em;
  border-radius: 5px;
}

.td-quantity {
  text-align: center;
}
.td-device {
  font-weight: bold;
  white-space: nowrap;
}
.cart-usage-container {
  align-self: flex-start;
  display: flex;
  flex-direction: column;
}
.si-desc-cart {
  font-weight: bolder;
  font-size: 1.2em;
}
.coninf-collapse-button {
  width: 1em;
  height: 10px;
  background-color: gray;
}
th,
td {
  /* white-space: nowrap; */
  /* text-align: center; */
  width: 1% !important;
}
.ant-table-row-level-0:last-child {
  /* display: none; */
  margin-bottom: 0;
}
.ant-descriptions-item-label {
  padding: 0 1em !important;
}
.ant-upload {
  height: 13em !important;
}
.MuiDialogContent-root {
  overflow: hidden !important;
}
