.ordersMainContainer {
  flex-grow: 1;
  height: 0;
}
.ordersContainer {
  display: flex;
  height: 100%;
  width: 100%;
}
.ordersList {
  flex-grow: 1;
  overflow-y: auto;
  overflow-x: hidden;
  padding-left: 1em;
  padding-right: 1em;
  padding-top: 1em;
}
.ordersControls {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: white;
  width: 15%;
  min-width: 250px;
  height: 100%;
  padding: 1em;
}
.switchContainer {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  margin-right: 0.5em;
}
.inner {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 1.6em;
}
.switchContainer > .inner > span {
  font-size: 1em;
}
.order-container-outter {
  background-color: white;
  margin-bottom: 1.5em;
  border-radius: 5px;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
}
.order-container-inner {
  position: relative;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  padding: 0em 0em 0em 1em;
}
.primary-data-container {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  min-width: 200px;
  width: 25%;
  margin: 0.5em 1em 0.5em 0.5em;
}
.projName-label {
  text-transform: capitalize;
  font-weight: bold;
  font-size: 1.8em;
}
.gon-inner-label {
  font-size: 1em !important;
  color: grey;
  margin-right: 3%;
}
.gon-label {
  color: #363636;
  font-weight: bold;
  font-weight: 1.3em;
  font-size: 1.2em !important;
}
.statusLabel {
  white-space: nowrap;
  -webkit-transform: rotate(-90deg);
  -moz-transform: rotate(-90deg);
  -o-transform: rotate(-90deg);
  -ms-transform: rotate(-90deg);
  transform: rotate(-90deg) translateX(0%);
  margin: 0;
}
.fw-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-right: 2em;
}

.desc {
  font-size: 0.7em;
  font-weight: bold;
  color: gray;
  white-space: nowrap;
}
.date {
  white-space: nowrap;
}
.fw-label {
  font-weight: bold;
  font-size: 1.5em;
}
.dates-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0 3em 0 0;
}
.table-head-title {
  background-color: #f2f2f2;
  padding: 0.5em;
  border: 1px solid #e2e2e2;
}
.table-desc-content {
  background-color: white;
  padding: 0.5em;
}
.seccondary-description-table {
  width: 100%;
}
.extra-info-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.caption-container {
  display: flex;
  flex-direction: row-reverse;
  align-items: center;
  margin-bottom: 0.5em;
}
.progress {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  justify-self: end;
  margin-left: auto;
  margin-right: 1em;
}
.controls {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-self: stretch;
}
/* Collapse panel */
.ReactCollapse--collapse {
  transition: height 100ms;
  margin-top: 0em !important;
  padding: 0em 0px;
}
.seccond-desc-container {
  flex-grow: 1;
}
.order-trace {
  align-self: start;
  min-height: 100%;
  min-width: 13em;
}
.ReactCollapse--content {
  border-top: none;
  padding: 1.5em 3% 1.5em 3%;
  display: flex;
  justify-content: space-between;
  align-items: stretch;
  border-top: 3px solid #e2e2e2;
}
.description-container {
  display: flex;
  flex-direction: column;
  margin-bottom: 1em;
  border-left: 1px solid #e2e2e2;
  padding-left: 0.5em;
}
.description-container > span:first-child {
  font-size: 1.1em;
}
.description-container > span:last-child {
  font-size: 0.8em;
  color: #363636;
}
.order-description {
  align-self: flex-start;
  margin-right: 2em;
  display: flex;
  flex-grow: 1;
}
.coninf-collapse {
  border: none !important;
}
.large-coninf-retro {
  position: relative;
}
.retro-style {
  position: absolute;
  width: 100%;
  height: 100%;
  background: rgb(255, 255, 255);
  background: linear-gradient(
    180deg,
    rgba(255, 255, 255, 0.1516981792717087) 0%,
    rgba(255, 255, 255, 1) 100%
  );
}
.devices-container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin-bottom: 0;
}
.secondary-info-container {
  width: auto;
  padding: 1em 0em 0em 0em;
  height: 100%;
  background-color: white;
  border-radius: 3px;
  display: flex;
  flex-direction: column;
}
.secondary-info-container:last-child {
  align-self: flex-start;
}
.secondary-info {
  display: flex;
  flex-direction: column;
  margin-bottom: 1em;
}
.si-label {
  font-weight: bold;
  font-size: 0.7em;
  color: rgb(109, 109, 109);
  width: auto !important;
  margin-bottom: 5px;
  white-space: nowrap;
}
.si-content {
  font-weight: bold;
  font-size: 1.2em;
}
.coninf-content {
  white-space: pre-wrap;
  padding-top: 0.5em;
}
.captions {
  margin: 0.5em 0;
  margin-left: auto;
  align-self: stretch;
  display: flex;
  align-items: flex-end;
  flex-direction: column;
}
.timeMarkContainer {
  display: flex;
  flex-direction: column;
  margin-right: 1em;
  align-items: flex-end;
}
.timeMarkContainer > span:first-child {
  font-size: 0.7em;
}
.timeMarkContainer > span:last-child {
}
.caption-container > span {
  margin-right: 1em;
  font-size: 0.8em;
}
.devices-n-carts-container {
  width: auto;
  display: flex;
}
.device-count-table-container {
  padding: 1em;
  border-radius: 5px;
}

.td-quantity {
  text-align: center;
}
.td-device {
  font-weight: bold;
  white-space: nowrap;
}
.cart-usage-container {
  align-self: flex-start;
  display: flex;
  flex-direction: column;
}
.si-desc-cart {
  font-weight: bolder;
  font-size: 1.2em;
}
.coninf-collapse-button {
  width: 1em;
  height: 10px;
  background-color: gray;
}

.ant-table-row-level-0:last-child {
  margin-bottom: 0;
}
.ant-descriptions-item-label {
  padding: 0 1em !important;
}
.ant-upload {
  height: 13em !important;
}
.MuiDialogContent-root {
  overflow: hidden !important;
}

/* Formulario */
.formRow {
  display: flex;
  margin-bottom: 2em;
}
.formRow:last-child {
  margin-bottom: 0;
}
.formItem {
  width: 50%;
  display: flex;
  flex-direction: column;
}
.formItem:first-child {
  margin-right: 1em;
}
.formItem > span {
  font-size: 0.8em;
  color: gray;
  font-weight: bold;
}
