/* width */
::-webkit-scrollbar {
  width: 13px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #f1f1f1;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #e2e2e2;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: grey;
  transition: all 0.2s;
}
